# LLM Configuration
LLM_PROVIDER=company
LLM_MODEL=Gauss2.3
LLM_TEMPERATURE=0

# Company LLM
COMPANY_LLM_API_KEY=your-api-key
COMPANY_LLM_MODEL_ID=your-model-id
COMPANY_LLM_MODEL_URL=https://mycompany.com/api/v1/run/session_id

# Database
DB_PATH=./database/data.db
SCHEMA_JSON_PATH=./database/schema.json